<!-- Sidebar Holder -->
<nav id="sidebar">
    <div class="sidebar-title sidebar-header">
        <text>Nvitr</text>
    </div>

    <ul class="list-unstyled components">
        <li><a href="/home">Home</a></li>
        <li><a href="/rsvp">RSVP For An Event</a></li>
        <li><a href="/createEvent">Create Event</a></li>
        <li><a href="/previousEvents">Previous Events</a></li>
        <li><a href="/profile">My Profile</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li class="logout"><a href="/logout">Log Out</a></li>
    </ul>
</nav>