<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Nvitr Home</title>
    <link rel="icon" href="/logo.png">

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>

<div class="wrapper">
    <!-- Sidebar Partial -->
    <%include ../views/partials/sidebar.ejs%>
    <!-- Page Content Holder -->
    <div id="content">
        <!-- Navbar Partial -->
        <%include ../views/partials/navbar.ejs%>

        <h2>Create Event</h2><br>

        <form action="/submitEvent" method="post">
            <div class="form-group">
                <label>Event Title</label>
                <input type="text" class="form-control" name="title" maxlength="70" required>
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" name="description" maxlength="500" required>
            </div>
            <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" name="address" maxlength="70" required>
            </div>
            <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" name="city" maxlength="70" required>
            </div>
            <div class="form-group">
                <label>State</label>
                <input type="text" class="form-control" name="state" maxlength="70" required>
            </div>
            <div class="form-group">
                <label>Time of Event</label>
                <input type="time" class="form-control" name="time" required>
            </div>
            <div class="form-group">
                <label>Date of Event</label>
                <input type="date" class="form-control" name="time" required>
            </div>
            <div class="form-group">
                <label>Duration</label>
                <input type="number" class="form-control" name="days" placeholder="days" min="0" max="365" required>
                <input type="number" class="form-control" name="hours" placeholder="hours" min="0" max="24" required>
                <input type="number" class="form-control" name="minutes" placeholder="minutes" min="0" max="60" required>
            </div>
            <div class="form-group">
                <label>Capacity (optional)</label>
                <input type="number" min="0" class="form-control" name="capacity" maxlength="15">
            </div>
            <div class="form-group">
                <label>Minimum age (optional)</label>
                <input type="number" min="1" class="form-control" name="minAge" max="125">
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Create Event</button>
        </form>

    </div>
</div>

<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<!-- Bootstrap Js CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- jQuery Custom Scroller CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>
</body>
</html>
